/*
 * Commons
 * https://www.xxx.org/
 *
 * Style definitions specific to the Commons content template component.
 */

/* Wrapper */
.content .wrapper {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 16px; /* Gutter 16px */
}

/* Content */
.commonsContent {
    margin: 32px 0 48px;
}


